div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

body {
  text-align: center;
}

h3{
  font-size: 40px
}
.pics {
  display: inline-block;
  position:relative;
  width: 25%
}

/*img{
  width: 100%;
}*/

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
